.stage-cube-cont {
  container: stage / inline-size;
  --size: clamp(200px, 15vw, 300px);
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: calc(var(--size) / 2) calc(var(--size) / 2);
  position: relative;

  & > div {
    position: absolute;
    width: var(--size);
    height: var(--size);
    border: 1px solid #ccc;
    @apply bg-green;
    @apply bg-opacity-[0.05];
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }
  .face1 {
    transform: translateZ(calc(var(--size) / 2));
  }

  .face2 {
    transform: rotateY(90deg) translateZ(calc(var(--size) / 2));
  }

  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(calc(var(--size) / 2));
  }

  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(calc(var(--size) / 2));
  }

  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(calc(var(--size) / 2));
  }

  .face6 {
    transform: rotateX(-90deg) translateZ(calc(var(--size) / 2));
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  }
  33% {
    transform: rotateX(0deg) rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateX(0deg) rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }
}
