@layer utilities, reset, framework, layout, components, animations;

@layer reset {
  :root {
    --animate-duration: 0.3s;
    --text-10: 10px;
    --text-12: 12px;
    --text-14: 14px;
    --text-16: 16px;
    --text-18: 18px;
    --text-20: 20px;
    --text-24: 24px;
    --text-28: 28px;
    --text-32: 32px;
    --text-40: 40px;
    --text-48: 48px;
    --text-56: 56px;

    --cube-size: clamp(200px, 18vw, 300px);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    min-height: 100dvh;
    font-family:
      Quicksand,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
    @apply bg-neutral-9500;
    isolation: isolate;

    &::before,
    &::after {
      position: fixed;
      content: '';
      width: 100%;
      height: 100%;
    }

    &::before {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='100' height='100' fill='none' stroke='rgb(255 255 255 / 0.03)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
      z-index: -1;
    }

    &::after {
      background-image: url('./assets/images/circle_pattern.png');
      background-size: contain;
      background-repeat: repeat;
      z-index: 0;
      opacity: 0.01;
      background-size: 12px;
    }
  }

  .big-text {
    font-size: clamp(var(--text-32), 5vw, var(--text-48)) !important;
  }

  .shadow-text {
    text-shadow: 1px 1px 8px currentColor;
  }
}

@layer framework {
  .nav-link {
    &:hover::after {
      transform: scaleX(1);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      margin-top: 4px;
      width: 100%;
      height: 2px;
      border: 3px ridge currentColor;
      transform: scaleX(0);
      rotate: 1deg;
      transform-origin: right;
      background-color: currentColor;
      transition: all 0.3s ease-in-out;
      border-bottom-left-radius: 18px;
    }
  }

  .contact-form-container {
    background-image: url(./assets/images/worldmap.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .alternate {
    animation-direction: alternate;
  }

  .alternate {
    animation-direction: reverse;
  }

  .infinite {
    animation-iteration-count: infinite;
  }

  @for $i from 1 to 20 {
    .animate-delay-#{$i} {
      animation-delay: calc(#{$i} * 0.3s);
    }
  }

  @for $i from 1 to 20 {
    .animate-duration-#{$i} {
      animation-duration: calc(#{$i} * 0.3s);
    }
  }

  .animate-forwards {
    animation-fill-mode: forwards;
  }

  .skill {
    .skill-description {
      position: absolute;
      bottom: 100%;
      visibility: hidden;
      color: white;
      width: 15ch;
      z-index: 10;
      left: 0;
      font-size: 12px;
      translate: 0 0;

      & > div {
        @apply bg-neutral-1400;
      }

      &::after {
        position: absolute;
        z-index: -1;
        bottom: 0;
        content: '';
        transform: rotateX(90deg);
        background-color: inherit;
        inset-inline: 0;
      }
    }

    &:hover {
      .skill-description {
        visibility: visible;
      }
    }
  }
}

@layer layout {
  .hero-section {
    grid-template-columns: 1fr var(--cube-size);
  }

  @media screen and (max-width: 1080px) {
    .hero-section {
      grid-template-columns: 1fr;
      grid-template-rows: max-content 1fr;
      place-items: center;
      place-content: center;
      gap: 3rem;
      inset-inline: 0;
    }
  }
}
